*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header {
  background-color: #372f2c;
  color: #FFF;
  padding: .85rem 1.8rem;
  font-size: 12px;
}
header li:last-child a {
  float: right;
}
header a {
  color: #d7d5d4;
}
nav {
  background-color: #FFF;
  padding: 0 1.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
#logo2 {
  background-image: url("../assets/JHornig-Logo-rot.png");
  width: 150px;
  height: 50px;
  background-size: 150px 50px;
  margin-right: 2rem;
}
li {
  display: inline;
  margin: 1rem;
}
a {
  text-decoration: none;
}
header, footer a:hover {
  color: #FFF;
}
nav a {
  color: #000;
}
nav li:not(:first-child) a:hover {
  border-bottom: 3px solid #442400;
}
.flex {
  display: flex;
}
.v-center {
  align-items: center;
}
.row {
  font-size: 0; /* remove whitespace */
}
.row div {
  display: inline-block;
  font-size: 16px; /* temp structure */
}
#banner {
  background-color: #542c00;
  width: 200%;
  height: 500px;
}
.banner-item {
  width: 50%;
  height: 100%;
  color: #FFF;
  vertical-align: top; /* pre-adjust */
}
#banner-a {
  background: url("../assets/JHornig-Kaffee-und-Tee-kaufen-2.jpg");
}
#banner-b {
  background: url("../assets/JHornig-LaJoya-Neu-im-Sortiment-1.jpg");
  background-position: center;
  background-size: 100% 100%;
}
#a {
  width: 33%;
  height: 40%;
  top: 40%;
  left: 2%;
}
#b {
  width: 32%;
  height: 50%;
  top: 30%;
  left: 20%;
}
.content {
  text-align: center;
  position: relative;
}
.content * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.button {
  border: 2px solid #FFF;
  padding: .7rem 2rem;
  margin: 0 .5rem;
  display: inline-block;
}
.primary {
  background-color: #FFF;
  color: #666666;
}
.primary:hover {
  background-color: #cccccc;
}
.secondary {
  color: #f1f1f1;
}
.secondary:hover {
  background-color: #FFF;
  color: #666666;
}
.light {
  color: #f1f1f1;
}
#policies, #featured, .divider, #coffees, #teas {
  text-align: center;
  margin: 3rem 0;
}
#policies div {
  margin: 0 1rem;
  vertical-align: top;
  height: 100px;
}
#policies div:not(.delimiter) {
  width: 20%;
}
#policies p {
  color: #555555;
  text-align: left;
}
#policies span {
  color: #777777;
  display: block;
  padding: 1rem 0;
}
.delimiter {
  border-left: 1px dotted #dddddd;
  height: 5rem;
}
#featured div {
  display: inline-block;
  height: 250px;
  width: 31.8%;
  margin: 0 .5rem;
  background-color: #442400;
  color: #FFF;
}
#featured div:last-child {
  background-color: #341c00;
}
#cold-brew {
  background: url("../assets/Cold-Brew-Sparkling-Orange.jpg");
  background-size: 100% 100%;
}
#gastro {
  background: url("../assets/JHornig-Kaffee-fuer-die-Gastro.jpg");
  background-size: 100% 100%;
}
#buro {
  background: url("../assets/JHornig-Office-As-A-Service-1920x1178.jpg");
  background-size: 100% 100%;
}
.divider div {
  display: inline-block;
  vertical-align: middle;
  color: #555555;
}
.divider hr {
  width: 20vw;
  color: #ededed;
}
.discount {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e63126;
  border-radius: 100%;
  color: #FFF;
}
#spezial {
  background: url("../assets/JHornig-Spezial-Ganze-Bohne-247x346.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 300px;
}
#classico {
  background: url("../assets/JHornig-Caffe-Crema-Classico-Ganze-Bohne-247x346.jpg");
  background-size: 100% 100%;
}
#bio {
  background: url("../assets/JHornig-Caffe-Crema-Bio-Ganze-Bohne-247x346.jpg");
  background-size: 100% 100%;
}
#entcoff {
  background: url("../assets/JHornig-Entcoff-Ganze-Bohne-247x346.jpg");
  background-size: 100% 100%;
}
.product {
  height: 450px;
  width: 15%;
  margin: 0 4%;
}
.product-item {
  width: 100%;
  height: 300px;
}
#früchtetee {
  background: url("../assets/JHornig-Bio-Fruechte-Tee-1-247x346.jpeg");
  background-size: 100% 100%;
}
#früchte {
  background: url("../assets/JHornig-Bio-Wilde-Fruechte-Tee-247x346.jpeg");
  background-size: 100% 100%;
}
#pfefferminze {
  background: url("../assets/JHornig-Bio-Pfefferminze-Tee-247x346.jpeg");
  background-size: 100% 100%;
}
#orange {
  background: url("../assets/JHornig-Bio-Orange-Tee-247x346.jpeg");
  background-size: 100% 100%;
}
#services {
  width: 100%;
  height: 504px;
}
.rel-top {
  position: relative;
  vertical-align: top;
}
#services {
  text-align: center;
}
#service-a, #service-b, #service-c, #service-d, #service-e, #service-f {
  background-color: #442400;
  color: #FFF;
  margin: 1px;
}
#service-a, #service-b, #service-c, #service-e, #service-f {
  height: 252px;
}
#service-a {
  background-color: #cccccc;
  background: url("../assets/JHornig-Kaffeebar-1070-Wien.jpg");
  background-size: 100% 100%;
}
#service-b {
  background: url("../assets/Wie-wir-bei-JHornig-roesten.jpg");
  background-size: 100% 100%;
}
#service-c {
  background: url("../assets/JHornig-Kaffeemobil.jpg");
  background-size: 100% 100%;
}
#service-d {
  height: 505px;
  background: url("../assets/JHornig-Barista-Kurse.jpg");
  background-size: 100% 100%;
}
#service-e {
  background: url("../assets/JHornig-Direct-Trade.jpg");
  background-size: 100% 100%;
}
#service-f {
  background: url("../assets/JHornig-Kaffee-richtig-zubereiten.jpg");
  background-size: 100% 100%;
}
.w-whole {
  width: 100%;
}
.w-full {
  width: 99.8%;
}
.w-half {
  width: 49.7%;
}
.ib {
  display: inline-block;
}
.degap {
  font-size: 0;
}
.font {
  font-size: 16px;
}
.rel-top {
  position: relative;
  vertical-align: top;
}
#newsletter {
  height: 400px;
  background-color: #2a1600;
  color: #FFF;
  background-image: url("../assets/Kaffee-Newsletter.jpg"), url("../assets/5€_gutschein_button_1.png");
  background-size: 100% 100%;
}
#newsletter div {
  width: 38%;
  position: relative;
  left: 10%;
  top: 25%;
}
#newsletter div * {
  margin: .8rem 0;
}
#newsletter p {
  color: #f1f1f1;
}
#newsletter input[type="text"], #register-btn {
  display: block;
}
#newsletter input[type="text"] {
  width: 100%;
  height: 2rem;
  padding: .9rem;
}
#newsletter input[type="checkbox"] {
  margin: 0 4px;
}
#newsletter a {
  color: #FFF;
  margin: 0 4px;
}
#register-btn {
  background-color: #552d00;
  border: 1px solid #552d00;
  padding: .5rem 1rem;
  color: #FFF;
}
#register-btn:hover {
  background-color: #442400;
}
#panel {
  width: 250%;
  height: 420px;
}
.panel-items {
  text-align: center;
}
.panel-items div {
  height: 400px;
  width: 10%;
  margin: 0 1rem;
  border: 1px dotted black;
}
#info {
  background-color: #f3ebe3;
  height: 1000px;
  text-align: center;
}
#info hr {
  width: 20px;
  color: #dad3cc;
}
#info div {
  margin: 1.5rem;
  text-align: left;
  width: 40%;
  vertical-align: top;
  position: relative;
  height: 17%;
  border: 1px dotted #000;
}
#info div * {
  margin: .5rem 0;
}
#info .contact { /* specificity */
  width: 20%;
  height: 23%;
}
#info p {
  color: #777777;
}
.contact a {
  display: block;
  color: #552d00;
}
.contact a:hover {
  color: #e63126;
}
footer {
  background-color: #372f2c;
  height: 12%;
  text-align: center;
}
footer div {
  padding: 1rem 0;
}
footer li {
  display: inline;
}
footer a {
  color: #878280;
}
footer p {
  color: #9b9796;
  margin-top: .7rem;
}
/* sliders */
.prev, .next {
  visibility: hidden;
  font-size: 2rem;
}
.prev {
  float: left;
}
.next {
  float: right;
}
/* banner */
#banner:hover > div > button, #panels:hover > div > button {
  visibility: visible;
}
.display-b {
  position: relative;
  right: 50%;
}
