*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header {
  background-color: #372f2c;
  color: #FFF;
  padding: .85rem 1.8rem;
  font-size: 12px;
}
header li:last-child a {
  float: right;
}
header a {
  color: #d7d5d4;
}
nav {
  background-color: #FFF;
  padding: 0 1.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
#logo {
  background: url("../assets/JHornig-Logo-rot.png") center;
  width: calc(400px/3);
  height: calc(159px/3);
  background-size: cover;
  margin-right: 2rem;
}
li {
  display: inline;
  margin: 1rem;
}
a {
  text-decoration: none;
}
header, footer a:hover {
  color: #FFF;
}
nav a {
  color: #000;
}
nav li:not(:first-child) a:hover {
  border-bottom: 3px solid #442400;
}
.flex-center {
  display: flex;
  align-items: center;
}
.row {
  font-size: 0; /* remove whitespace */
}
.row div {
  display: inline-block;
  font-size: 16px; /* temp structure */
}
#banner {
  background-color: #542c00;
  width: 200%;
  height: 500px;
}
#banner > div {
  width: 50%;
  height: 100%;
  color: #FFF;
  vertical-align: top; /* pre-adjust */
}
#primary-banner {
  background: url("../assets/JHornig-Kaffee-und-Tee-kaufen-2.jpg") center;
  background-size: cover;
}
#secondary-banner {
  background: url("../assets/JHornig-LaJoya-Neu-im-Sortiment-1.jpg") center;
  background-size: cover;
}
#primary-cta {
  width: 33%;
  height: 40%;
  top: 40%;
  left: 2%;
}
#secondary-cta {
  width: 32%;
  height: 50%;
  top: 30%;
  left: 20%;
}
.content {
  text-align: center;
  position: relative;
}
.content * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn {
  border: 2px solid #FFF;
  padding: .7rem 2rem;
  margin: 0 .5rem;
  display: inline-block;
}
.primary {
  background-color: #FFF;
  color: #666666;
}
.primary:hover {
  background-color: #cccccc;
}
.secondary {
  color: #f1f1f1;
}
.secondary:hover {
  background-color: #FFF;
  color: #666666;
}
.light {
  color: #f1f1f1;
}
#policies, #featured, .divider, #coffees, #teas {
  text-align: center;
  margin: 3rem 0;
}
#policies > div {
  margin: 0 1rem;
  vertical-align: top;
  height: 100%;
  padding: 0 2.5rem;
  width: 25%;
}
.checkmark {
  background: url("../assets/checkmark.png") no-repeat;
}
#policies h3 {
  color: #555555;
  text-align: left;
}
#policies h4 {
  color: #777777;
  padding: 1rem 0;
  text-align: left;
}
.delimiter {
  border-left: 1px dotted #dddddd;
}
#featured div {
  display: inline-block;
  height: 250px;
  width: 31.8%;
  margin: 0 .5rem;
  background-color: #442400;
  color: #FFF;
  vertical-align: top;
}
#featured div:last-child {
  background-color: #341c00;
}
#cold-brew {
  background: url("../assets/Cold-Brew-Sparkling-Orange.jpg") center;
  background-size: cover;
}
#gastro {
  background: url("../assets/JHornig-Kaffee-fuer-die-Gastro.jpg") center;
  background-size: cover;
}
#buro {
  background: url("../assets/JHornig-Office-As-A-Service-1920x1178.jpg") center;
  background-size: cover;
}
.divider div {
  display: inline-block;
  vertical-align: middle;
  color: #555555;
}
.divider hr {
  width: 10vw;
  color: #ededed;
}
.discount {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e63126;
  border-radius: 100%;
  color: #FFF;
}
#spezial {
  background: url("../assets/JHornig-Spezial-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#classico {
  background: url("../assets/JHornig-Caffe-Crema-Classico-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#bio {
  background: url("../assets/JHornig-Caffe-Crema-Bio-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#entcoff {
  background: url("../assets/JHornig-Entcoff-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
.product {
  height: 450px;
  width: 15%;
  margin: 0 4%;
}
.product-item {
  width: 100%;
  height: 300px;
}
#früchtetee {
  background: url("../assets/JHornig-Bio-Fruechte-Tee-1-247x346.jpeg") center;
  background-size: cover;
}
#früchte {
  background: url("../assets/JHornig-Bio-Wilde-Fruechte-Tee-247x346.jpeg") center;
  background-size: cover;
}
#pfefferminze {
  background: url("../assets/JHornig-Bio-Pfefferminze-Tee-247x346.jpeg") center;
  background-size: cover;
}
#orange {
  background: url("../assets/JHornig-Bio-Orange-Tee-247x346.jpeg") center;
  background-size: cover;
}
#services {
  height: 500px;
  text-align: center;
}
.gutter-wrap {
  overflow: hidden;
  padding: 1.5px;
}
#service-a, #service-b, #service-c, #service-d, #service-e, #service-f {
  background-color: #442400;
  color: #FFF;
  width: 100%;
  height: 100%;
}
#service-a, #service-b, #service-c, #service-e, #service-f {
  height: 250px;
}
#service-a {
  background-color: #cccccc;
}
#service-d {
  height: 500px;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.ib {
  display: inline-block;
}
.degap {
  font-size: 0;
}
.font {
  font-size: 16px;
}
.v-top {
  vertical-align: top;
}
#newsletter {
  height: 550px;
  background-color: #2a1600;
  color: #FFF;
  background: url("../assets/Kaffee-Newsletter.jpg") center;
  /* url("../assets/5€_gutschein_button_1.png") */
  background-size: cover;
}
#newsletter div {
  width: 38%;
  position: relative;
  left: 10%;
  top: 25%;
}
#newsletter div * {
  margin: .8rem 0;
}
#newsletter p {
  color: #f1f1f1;
}
#newsletter input[type="text"], #register-btn {
  display: block;
}
#newsletter input[type="text"] {
  width: 100%;
  height: 2rem;
  padding: .9rem;
}
#newsletter input[type="checkbox"] {
  margin: 0 4px;
}
#newsletter a {
  color: #FFF;
  margin: 0 4px;
}
#register-btn {
  background-color: #552d00;
  border: 1px solid #552d00;
  padding: .5rem 1rem;
  color: #FFF;
}
#register-btn:hover {
  background-color: #442400;
}
#blog {
  width: 300%;
  height: 360px;
}
.h-center {
  text-align: center;
}
.panel > div {
  width: 10%;
  margin: 0 1rem;
  border: 1px dotted black;
}
.panel-item {
  width: 100%;
  height: 180px;
}
#blog-a {
  background: url("../assets/Bildcredit_J.-Hornig-Sparkling-Ginger-Lemon_300dpi-1-800x534.jpg") center;
  background-size: cover;
}
#blog-b {
  background: url("../assets/JH-So_schmeckt_Kaffee_zuhause_wie_in_der_Kaffeebar-800x533.jpg") center;
  background-size: cover;
}
#blog-c {
  background: url("../assets/JHornig_Entkoffeinierter_Kaffee_Kaffeewissen_Blogpost-800x518.jpg") center;
  background-size: cover;
}
#blog-d {
  background: url("../assets/Hornig-Tarrazu-Gegend_2-2-800x450.jpg") center;
  background-size: cover;
}
#blog-e {
  background: url("../assets/J.Hornig_Blogpost_Kopenhafen_Coffee_Trip_Tipps-2-800x533.jpg") center;
  background-size: cover;
}
#blog-f {
  background: url("../assets/Kaffeetipps-fuer-Budapest-Blogbeitrag-JHornig-800x464.jpg") center;
  background-size: cover;
}
#blog-g {
  background: url("../assets/JHornig-Latte-Heart-800x534.jpg") center;
  background-size: cover;
}
#blog-h {
  background: url("../assets/Kaffeetrends-2020-Schwarzer-Kaffee-Cold-Brew-und-mehr-800x464.jpg") center;
  background-size: cover;
}
#info {
  background-color: #f3ebe3;
  height: 1200px;
  text-align: center;
}
.splitter {
  color: #e7dfd7;
}
#info hr:not(.splitter) {
  width: 20px;
  color: #dad3cc;
  height: 4px;
  background-color: #dad3cc;
  border: none;
}
#info div {
  margin: 1.5rem;
  text-align: left;
  width: 40%;
  vertical-align: top;
  position: relative;
  height: 255px;
}
#info div a, #info hr {
  margin: .5rem 0;
}
#info .contact { /* specificity */
  width: 17%;
  height: 230px;
}
#info p {
  color: #777777;
}
.contact a {
  display: block;
  color: #552d00;
}
.contact a:hover {
  color: #e63126;
}
footer {
  background-color: #372f2c;
  text-align: center;
}
footer div {
  padding: 1rem 0;
}
footer li {
  display: inline;
}
footer a {
  color: #878280;
}
footer p {
  color: #9b9796;
  margin-top: .7rem;
}
/* sliders */
.prev, .next {
  visibility: hidden;
  font-size: 1rem;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
.prev {
  float: left;
}
.next {
  float: right;
}
/* banner */
#banner:hover > div > button {
  visibility: visible;
}
.display-b {
  position: relative;
  right: 50%;
}
/* zoom */
.pic {
  background-size: cover;
  background-position: center;
}
.zoom:hover img {
  transform: scale(1.05);
  transition: transform .5s;
}
.clip {
  overflow: hidden;
}
