*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
header {
  background-color: #372f2c;
  color: #FFF;
  padding: 1.15rem 1.8rem;
  font-size: 12px;
}
header li:last-child a {
  float: right;
}
header a {
  color: #d7d5d4;
}
nav {
  background-color: #FFF;
  padding: .15rem 1.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
#logo {
  background: url("../assets/JHornig-Logo-rot.png") center;
  width: calc(400px/3);
  height: calc(159px/3);
  background-size: cover;
  margin-right: 2rem;
}
li {
  display: inline;
  margin: 1rem;
}
a {
  text-decoration: none;
}
header, footer a:hover {
  color: #FFF;
}
nav a {
  color: #000;
}
nav li:not(:first-child) a:hover {
  border-bottom: 3px solid #442400;
}
.flex-center {
  display: flex;
  align-items: center;
}
.row {
  font-size: 0; /* remove whitespace */
}
.row div {
  display: inline-block;
  font-size: 16px; /* temp structure */
}
#banner {
  background-color: #542c00;
  height: 500px;
}
#top {
  position: relative;
  height: 100%;
  width: 100%;
}
.banner-img {
  transition: all .5s ease;
}
.primary-banner, .secondary-banner {
  position: absolute;
  height: 100%;
  color: #FFF;
  vertical-align: top; /* pre-adjust */
}
.primary-banner {
  background: url("../assets/JHornig-Kaffee-und-Tee-kaufen-2.jpg") center;
  background-size: cover;
}
.secondary-banner {
  background: url("../assets/JHornig-LaJoya-Neu-im-Sortiment-1.jpg") center;
  background-size: cover;
}
.primary-cta {
  width: 400px;
  height: 40%;
  top: 40%;
  left: 2%;
}
.secondary-cta {
  width: 32%;
  height: 50%;
  top: 30%;
  left: 20%;
}
.content {
  text-align: center;
  position: relative;
}
.content * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn {
  border: 2px solid #FFF;
  padding: .7rem 2rem;
  margin: .25rem .5rem;
  display: inline-block;
}
.primary {
  background-color: #FFF;
  color: #666666;
}
.primary:hover {
  background-color: #cccccc;
}
.secondary {
  color: #f1f1f1;
}
.secondary:hover {
  background-color: #FFF;
  color: #666666;
}
.light {
  color: #f1f1f1;
}
#policies, #featured, .divider, #coffees, #teas {
  text-align: center;
  margin: 3rem 0;
}
#policies > div {
  margin: 0 1rem;
  vertical-align: top;
  height: 100%;
  padding: 0 2.5rem;
  width: 25%;
}
.checkmark {
  background: url("../assets/checkmark.png") no-repeat;
}
#policies h3 {
  color: #555555;
  text-align: left;
}
#policies h4 {
  color: #777777;
  padding: 1rem 0;
  text-align: left;
}
.delimiter {
  border-left: 1px dotted #dddddd;
}
#feat-img-1 {
  background: url("../assets/Cold-Brew-Sparkling-Orange.jpg") center;
  background-size: cover;
}
#feat-img-2 {
  background: url("../assets/JHornig-Kaffee-fuer-die-Gastro.jpg") center;
  background-size: cover;
}
#feat-img-3 {
  background: url("../assets/Jhornig-Office-As-A-Service-1920x1178.jpg") center;
  background-size: cover;
}
.img {
  width: 100%;
  height: 100%;
  transition: all .4s ease;/*for zoom effect*/
}
#featured a > div {
  display: inline-block;
  height: 250px;
  margin: .5rem .5rem;
  background-color: #442400;
  color: #FFF;
  vertical-align: top;
}
.w-third {
  width: 31.8%;
}
#featured a > div:last-child {
  background-color: #341c00;
}
.divider div {
  display: inline-block;
  vertical-align: middle;
  color: #555555;
}
.divider hr {
  width: 25vw;
  color: #ededed;
}
.discount {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #e63126;
  border-radius: 100%;
  color: #FFF;
  top: 0;
  left: 0;
}/*v*h center text*/
.discount p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#spezial {
  background: url("../assets/JHornig-Spezial-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#classico {
  background: url("../assets/JHornig-Caffe-Crema-Classico-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#bio {
  background: url("../assets/JHornig-Caffe-Crema-Bio-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
#entcoff {
  background: url("../assets/JHornig-Entcoff-Ganze-Bohne-247x346.jpg") center;
  background-size: cover;
}
.product {
  height: 450px;
  width: 15%;
  margin: 0 4%;
  position: relative;
}
.product-item {
  width: 100%;
  height: 300px;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}
.sm {
  font-size: 11px;
}
/* exclusive margin on description */
.product p:not(:last-child) {
  margin: .2rem 0;
}
#früchtetee {
  background: url("../assets/JHornig-Bio-Fruechte-Tee-1-247x346.jpeg") center;
  background-size: cover;
}
#früchte {
  background: url("../assets/JHornig-Bio-Wilde-Fruechte-Tee-247x346.jpeg") center;
  background-size: cover;
}
#pfefferminze {
  background: url("../assets/JHornig-Bio-Pfefferminze-Tee-247x346.jpeg") center;
  background-size: cover;
}
#orange {
  background: url("../assets/JHornig-Bio-Orange-Tee-247x346.jpeg") center;
  background-size: cover;
}
#services {
  min-height: 500px;
  text-align: center;
}
.gutter-wrap {
  padding: 1.5px;
}
#service-a, #service-b, #service-c, #service-d, #service-e, #service-f {
  background-color: #442400;
  width: 100%;
  height: 100%;
  position: relative;
  color: #FFF;
}
#service-a, #service-b, #service-c, #service-e, #service-f {
  height: 250px;
}
#service-a {
  background-color: #cccccc;
}
#service-a-img {
  background: url("../assets/JHornig-Kaffeebar-1070-Wien.jpg") center;
  background-size: cover;
}
#service-b-img {
  background: url("../assets/Wie-wir-bei-JHornig-roesten.jpg") center;
  background-size: cover;
}
#service-c-img {
  background: url("../assets/JHornig-Kaffeemobil.jpg") center;
  background-size: cover;
}
#service-d {
  height: 500px;
}
#service-d-img {
  background: url("../assets/JHornig-Barista-Kurse.jpg") center;
  background-size: cover;
}
#service-e-img {
  background: url("../assets/JHornig-Direct-Trade.jpg") center;
  background-size: cover;
}
#service-f-img {
  background: url("../assets/JHornig-Kaffee-richtig-zubereiten.jpg") center;
  background-size: cover;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.ib {
  display: inline-block;
}
.degap {
  font-size: 0;
}
.font {
  font-size: 16px;
}
.v-top {
  vertical-align: top;
}
#newsletter {
  height: 550px;
  background-color: #2a1600;
  color: #FFF;
  background: url("../assets/Kaffee-Newsletter.jpg") center;
  background-size: cover;
  position: relative;
}
#newsletter > div > div:first-child {
  width: 38%;
  position: relative;
  left: 10%;
  top: 25%;
}
#voucher {
  position: absolute;
  background: url("../assets/5€_gutschein_button_1.png") no-repeat;
  background-size: cover;
  height: 170px;
  width: 170px;
  top: 20%;
  left: 60%;
}
#newsletter div * {
  margin: .8rem 0;
}
#newsletter p {
  color: #f1f1f1;
}
#newsletter input[type="text"], #register-btn {
  display: block;
}
#newsletter input[type="text"] {
  width: 100%;
  height: 2rem;
  padding: .9rem;
}
#newsletter input[type="checkbox"] {
  margin: 0 4px;
}
#newsletter a {
  color: #FFF;
  margin: 0 4px;
}
#register-btn {
  background-color: #552d00;
  border: 1px solid #552d00;
  padding: .5rem 1rem;
  color: #FFF;
}
#register-btn:hover {
  background-color: #442400;
}
#blog {
  width: 100%;
  height: 300px;
}
#bottom {
  position: relative;
  height: 250px;
  width: 80%;
  margin: 5px auto;
  overflow-x: hidden;
}
.img-temp {
  position: absolute;
  height: 100%;
  transition: all .5s ease;
}
#blog-a {
  background: url("../assets/Bildcredit_J.-Hornig-Sparkling-Ginger-Lemon_300dpi-1-800x534.jpg") center;
  background-size: cover;
}
#blog-b {
  background: url("../assets/JH-So_schmeckt_Kaffee_zuhause_wie_in_der_Kaffeebar-800x533.jpg") center;
  background-size: cover;
}
#blog-c {
  background: url("../assets/JHornig_Entkoffeinierter_Kaffee_Kaffeewissen_Blogpost-800x518.jpg") center;
  background-size: cover;
}
#blog-d {
  background: url("../assets/Hornig-Tarrazu-Gegend_2-2-800x450.jpg") center;
  background-size: cover;
}
#blog-e {
  background: url("../assets/J.Hornig_Blogpost_Kopenhafen_Coffee_Trip_Tipps-2-800x533.jpg") center;
  background-size: cover;
}
#blog-f {
  background: url("../assets/Kaffeetipps-fuer-Budapest-Blogbeitrag-JHornig-800x464.jpg") center;
  background-size: cover;
}
#blog-g {
  background: url("../assets/JHornig-Latte-Heart-800x534.jpg") center;
  background-size: cover;
}
#blog-h {
  background: url("../assets/Kaffeetrends-2020-Schwarzer-Kaffee-Cold-Brew-und-mehr-800x464.jpg") center;
  background-size: cover;
}
#blog button {
  border: none;
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom: 0;
  opacity: .5;
  padding: 0 .5rem;
  transition: all .1s ease;
}
#blog #left-btn-bottom {
  left: -100px;
}
#blog #right-btn-bottom {
  right: -100px;
}
#bottom:hover #left-btn-bottom {
  left: 0;
}
#bottom:hover #right-btn-bottom {
  right: 0;
}
#left-btn-bottom:hover, #right-btn-bottom:hover {
  opacity: 1;
  transition: all .1s;
}
#info {
  background-color: #f3ebe3;
  min-height: auto;
  text-align: center;
}
.splitter {
  color: #e7dfd7;
}
#info hr:not(.splitter) {
  width: 20px;
  color: #dad3cc;
  height: 4px;
  background-color: #dad3cc;
  border: none;
}
#info div {
  margin: 1.5rem;
  text-align: left;
  width: 40%;
  vertical-align: top;
  position: relative;
  min-height: auto;
}
#info div a, #info hr {
  margin: .5rem 0;
}
#info .contact { /* specificity */
  width: 17%;
  min-height: auto;
}
#info p {
  color: #777777;
}
.contact a {
  display: block;
  color: #552d00;
}
.contact a:hover {
  color: #e63126;
}
footer {
  background-color: #372f2c;
  text-align: center;
}
footer div {
  padding: 1rem 0;
}
footer li {
  display: inline;
}
footer a {
  color: #878280;
}
footer p {
  color: #9b9796;
  margin-top: .7rem;
}
/* sliders */
.prev, .next {
  background-color: Transparent;
  color: #d2d3d3;
  border: 2px solid #cecfce;
  visibility: hidden;
  font-size: 1rem;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: all .1s;
}
.prev {
  left: 3%;
}
.next {
  right: 3%;
}
.prev:hover, .next:hover {
  color: #fff;
  background-color: #552d00;
  border: 2px solid #552d00;
}
/* banner */
#banner:hover .prev {
  visibility: visible;
  left: 2%;
}
#banner:hover .next {
  visibility: visible;
  right: 2%;
}
/* target img for zoom */
.zoom:hover .img {
  transform: scale(1.1);
}
.clip {
  overflow: hidden;
}
/* position text */
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tint {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  width: 100%;
  height: 100%;
}
.rel {
  position: relative;
}
/* mobile */
@media (max-width: 850px) {
  [class*="w-"] {
    width: 100%;
  }
  #service-d {
    height: 250px;
  }
  #primary-overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 500px;
  }
  #primary-cta {
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #featured a > div {
    width: 97%;
    margin: .5rem 0;
  }
  .divider hr {
    width: 10vw;
  }
  .product {
    height: 450px;
    min-width: 25%;
    margin: 0;
  }
  #voucher {
    top: 50%;
    transform: translate(0, -50%);
    width: 125px;
    height: 125px;
  }
  #info div, #info .contact {
    width: 95%;
  }
  .collapsable {
    display: none;
  }
  header {
    text-align: center;
  }
  .flex-center {
    justify-content: center;
  }
  #logo {
    margin-right: 0;
  }
  nav li:not(:first-child) {
    display: none;
  }
  #bottom {
    width: 95%;
  }
}
